<div class="panel panel-info set-panel">
  <div class="panel-heading">
    <%= t ".studying" %>
  </div>
  <div class="panel-body">
    <ul>
      <% @set_lessons.each do |set| %>
        <li>
          <div class="col-md-6">
            <%= link_to set.user_set.title, set_lessons_path(user_set_id: set.id),
              method: :post %>
          </div>
          <div class="col-md-6">
            <%= link_to t(".unstudy"), set_lesson_path(set), method: :delete,
              data: {confirm: "You want to unstudy this Set?"}, class: "button btn btn-danger btn-xs"%>
          </div>
        <li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-info set-panel">
  <div class="panel-heading">
    <%= t ".recommended" %>
  </div>
  <div class="panel-body">
    <ul>
      <% @sets.each do |set| %>
        <li>
          <%= link_to set.title, set_lessons_path(user_set_id: set.id),
            method: :post %> by <%= set.user.full_name %>
        <li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-info set-panel">
  <div class="panel-heading">
    <%= t ".new" %>
  </div>
  <div class="panel-body">
    <ul>
      <% @new_sets.each do |set| %>
        <li>
          <%= link_to set.title, set_lessons_path(user_set_id: set.id),
            method: :post %> by <%= set.user.full_name %>
        <li>
      <% end %>
    </ul>
  </div>
</div>