<section class="wrapper">
  <h3>
    <i class="fa fa-angle-right">
      <%= t ".manage" %>
    </i>
  </h3>
  <div class="row mt">
    <div class="content-panel">
      <table class="table table-striped table-advance table-hover">
        <h4>
          <i class="fa fa-angle-right">
            <%= t ".list" %>
          </i>
        </h4>
        <hr>
        <thead>
          <tr>
            <th>
              <i class="fa fa-text-height">
                <%= t ".title" %>
              </i>
            </th>
            <th>
              <i class="fa fa-text-height">
                <%= t ".description" %>
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @user_sets.each do |set| %>
            <tr>
              <td>
                <%= set.title %>
              </td>
              <td>
                <%= set.description %>
              </td>
              <td>
                <div class="admin-actions">
                  <%= link_to user_set_path(set), class: "button btn btn-success btn-xs" do %>
                    <i class="fa fa-file-text"></i>
                  <% end %>
                  <%= link_to edit_user_set_path(set), class: "button btn btn-primary btn-xs" do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to user_set_path(set), method: :delete,
                    data: {confirm: "You want to delete?"}, class: "button btn btn-danger btn-xs" do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>