<h3>
  <b><%= t ".studying" %></b>
</h3>
<table class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      <th>
        <%= t ".set" %>
      </th>
      <th>
        <%= t ".action" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @set_lessons.each do |set|  %>
      <tr>
        <td>
          <%= set.user_set.title %>
        </td>
        <td>
          <%= link_to t(".unstudy"), set_lesson_path(set), method: :delete,
            data: {confirm: "You want to unstudy this Set?"},
            class: "button btn btn-danger btn-xs"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>