<section class="wrapper">
  <h3>
    <%= link_to admin_users_path do %>
      <i class="fa fa-angle-right">
        <%= t ".title" %>
      </i>
    <% end %>
  </h3>
  <div class="row mt">
    <div class="col-md-6">
      <section>
        <div class="panel-heading">
          <div class="pull-left">
            <h5>
              <i class="fa fa-tasks">
              </i>
            </h5>
          </div>
        </div>
        <div class="panel-body">
          <div>
            <ul>
              <li>
                <%= image_tag @user.avatar, size: "150x150" %>
              </li>
              <li>
                <label class="bold">
                  <%= t ".name" %>
                </label>
                <span>
                  <%= @user.full_name %>
                </span>
              </li>
              <li>
                <label class="bold">
                  <%= t ".email" %>
                </label>
                <span>
                  <%= @user.email %>
                </span>
              </li>
              <li>
                <a href="<%= relationships_path @user, type:'following' %>">
                  <%= t ".following" %>
                </a>
                <span>
                  <%= @user.following.count %>
                </span>
              </li>
              <li>
                <a href="<%= relationships_path @user, type:'followers' %>">
                  <%= t ".followers" %>
                </a>
                <span>
                  <%= @user.followers.count %>
                </span>
              </li>
              <li>
                <label class="bold">
                  <%= t ".admin" %>
                </label>
                <span>
                  <%= @user.admin? %>
                </span>
              </li>
            </ul>
          </div>
          <div class="add-task-row">
            <%= link_to t(".edit"), edit_admin_user_path(@user),
              class: "btn btn-success btn-sm pull-left" %>
            <%= link_to t(".add"), new_admin_user_path(@user),
              class: "btn btn-default btn-sm pull-right" %>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <h3><b>Set Lists</b></h3>
      <table class="table table-striped table-advance table-hover user-set-table">
        <thead>
          <tr>
            <th>
              Title
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          <% @user_sets.each do |set| %>
            <% unless set.title.nil? %>
              <tr>
                <td><%= link_to set.title, admin_user_set_path(set) %></td>
                <td><%= set.description %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>